code,
pre {
  background: #fafafa;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

code.inline {
  color: #505359;
  background: #EAEBEA;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}
