<%= render "_navigation.html", conn: @conn %>

<header id="header">
  <h1>Alex Kovshovik</h1>
  <p>
    A productive software professional that<br />
    who is dedicated to quality, speed, and maintenability.
  </p>
</header>
